<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ site.description }}">
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<link rel="stylesheet" href="/css/styles.css" type="text/css">
	<link rel="stylesheet" href="/css/normalized.css" type="text/css">
	<link rel="stylesheet" href="/css/pure/pure-min.css" type="text/css">
	<link rel="stylesheet" href="/css/range-mono.css" type="text/css">
	<link rel="stylesheet" href="/css/pure/grids-responsive-min.css" type="text/css">
	<link rel="icon" href="/images/favico.ico" sizes="32x32">
</head>
