:root {
	color-scheme: light dark;
	supported-color-schemes: light dark;
	/* Variables */
	--background-color: #FFFFFF;
	--text-color: #000;
	--light-text-color: #C4C4C4;
	--highlight-color: #EB212E;
	--code-background-color: #F3F3F3;
}

* {
	margin: 0;
	padding: 0;
	background-color: var(--background-color);
}

body {
	color: var(--text-color);
	padding: 16px;
}

.content {
	font-family: 'Mercury SSm A', 'Mercury SSm B', serif;
	font-weight: 300;
}

h1 {
	font-size: 26px;
	font-weight: 300;
	padding: 30px 0px 0px 0px;
}

h2 {
	font-size: 20px;	
	font-weight: 300;
}

p {
	font-weight: 300;
	font-size: 20px;
	line-height: 150%;
}

ul {
	list-style-type: square;
}

li {
	font-weight: 300;
	line-height: 30px;
}

hr {
    border: 0;
    border-bottom: 1px dotted var(--highlight-color);
}

blockquote { 
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
	font-weight: 300;
	font-size: 16px;
	line-height: 26px;
}

sup a {
	border-bottom: none !important;
}

a {
	color: var(--highlight-color);
	text-decoration: none;
	border-bottom: 1px dotted var(--highlight-color);
}

a:hover {
	color: var(--highlight-color);
	text-decoration: none;
	border-bottom: 1px solid var(--highlight-color);
}

.header {
	font-family: 'Archer A', 'Archer B', serif;
	font-weight: 100;
	font-size: 20px;
	color: var(--text-color);
	padding: 16px 0px 0px 0px;
	text-align: center;
}

.header a {
	color: var(--text-color);
	text-decoration: none;
	border-bottom: none;
}

.header a:hover {
	color: var(--text-color);
	text-decoration: none;
	border-bottom: none;
}

.title {
	font-family: 'Knockout 30 A', 'Knockout 30 B', serif;
	font-weight: 400;
	font-size: 40px;
	color: var(--text-color);
	padding: 30px 0px 0px 0px;
}

.title a {
	color: var(--text-color);
	text-decoration: none;
	border-bottom: none;
}

.title a:hover {
	color: var(--text-color);
	text-decoration: none;
	border-bottom: none;
}

.date {
	font-family: 'Knockout 30 A', 'Knockout 30 B', serif;
	font-weight: 400;
	font-size: 16px;
	color: var(--light-text-color);
	padding: 5px 0px 0px 0px;
}

.footer {
	font-family: 'Knockout 30 A', 'Knockout 30 B', serif;
	font-weight: 400;
	font-size: 14px;
	color: var(--light-text-color);
}

.footer a {
	font-size: 16px;
	color: var(--highlight-color);
	text-decoration: none;
	border-bottom: 1px dotted var(--highlight-color);
}

.footer a:hover {
	font-size: 16px;
	color: var(--highlight-color);
	text-decoration: none;
	border-bottom: 1px solid var(--highlight-color);
}

.footnotes {
    font-size: 16px;
}

pre {
	width: auto;
	padding: 10px;
	left: 0;
	right: 0;
	background-color: var(--code-background-color);
}

code {
	font-family: 'Operator Mono SSm A', 'Operator Mono SSm B', monospace !important;
	font-size: 13px !important;
	font-weight: 400 !important;
	padding: 5px;
	background-color: var(--code-background-color);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #222831;
		--text-color: #eeeeee;
		--light-text-color: #6b778d;
		--highlight-color: #32e0c4;
		--code-background-color: #393e46;
	}
}
