* {
	margin: 0;
	padding: 0;
}

body {
	padding: 16px;
}

.content {
	font-family: 'Ringside Regular SSm A', 'Ringside Regular SSm B', 'Helvetica', sans-serf;
}

h1 {
	font-size: 26px;
	font-weight: 300;
	color: black;
	padding: 30px 0px 0px 0px;
}

h2 {
	font-size: 20px;	
	font-weight: 300;
	color: black;
}

h3 {
	font-size: 20px;
	font-weight: 300;
	color: #484848;
}

p {
	font-weight: 300;
	font-size: 16px;
	color: black;
	line-height: 26px;
}

ul {
	list-style-type: square;
}

li {
	font-weight: 300;
	line-height: 30px;
}

hr {
    border: 0;
    border-bottom: 1px dotted #EB212E;
}

blockquote { 
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
	color: black;
	font-weight: 300;
	font-size: 16px;
	line-height: 26px;
}

sup a {
	border-bottom: none !important;
}

a {
	color: #EB212E;
	text-decoration: none;
	border-bottom: 1px dotted #EB212E;
}

a:hover {
	color: #EB212E;
	text-decoration: none;
	border-bottom: 1px solid #EB212E;
}

.header {
	font-family: 'Gotham SSm A', 'Gotham SSm B', 'Helvetica', sans-serif;
	font-weight: 700;
	font-size: 40px;
	color: black;
	padding: 16px 0px 0px 0px;
	text-align: left;
}

.header a {
	color: black;
	text-decoration: none;
	border-bottom: none;
}

.header a:hover {
	color: black;
	text-decoration: none;
	border-bottom: none;
}

.byline {
	font-family: 'Gotham SSm A', 'Gotham SSm B', 'Helvetica', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: black;
	text-align: left;
	padding-bottom: 16px;
}

.title {
	font-family: 'Operator Mono SSm A', 'Operator Mono SSm B', monospace;
	font-weight: 400;
	font-size: 26px;
	color: black;
	padding: 30px 0px 0px 0px;
}

.title a {
	color: black;
	text-decoration: none;
	border-bottom: none;
}

.title a:hover {
	color: black;
	text-decoration: none;
	border-bottom: none;
}

.date {
	font-family: 'Operator Mono SSm A', 'Operator Mono SSm B', monospace;
	font-weight: 300;
	font-size: 16px;
	color: #C4C4C4;
	padding: 5px 0px 0px 0px;
}

.footer {
	font-family: 'Ringside Regular SSm A', 'Ringside Regular SSm B', 'Helvetica', sans-serf;
	font-weight: 300;
	font-size: 12px;
	color: #C4C4C4;
}

.footer a {
	font-size: 14px;
	color: #EB212E;
	text-decoration: none;
	border-bottom: 1px dotted #EB212E;
}

.footer a:hover {
	font-size: 14px;
	color: #EB212E;
	text-decoration: none;
	border-bottom: 1px solid #EB212E;
}

pre {
	width: auto;
	padding: 10px;
	left: 0;
	right: 0;
	background-color: #F3F3F3;
}

code {
	font-family: 'Operator Mono SSm A', 'Operator Mono SSm B', monospace !important;
	font-size: 13px !important;
	font-weight: 400 !important;
}
